*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
app/release/

# Exclude non-Android project files in this folder
/core/
/ui/
/tools/
/database/
/Input/
/Output/
/config/
/PROJECT_LOG.txt
*.py
/requirements.txt
/main.py
/install.bat
/run.bat
